html,body {
        height: 100%;
    }
    body {
        padding-top: 16px;
        background-image: url(/media/site-img/bg.png);
    }
    .comic-container {
        margin-top: 64px;
        margin-bottom: 16px;
    }
    .comic-container p {
        text-align: auto;
        font-size: 14px;
        margin: 16px auto;
        background-color: #fff;
        width: 512px;
    }
    .comic-container h1 {
        text-align: center;
        margin: 8px;
    }
    .comic-content {
        display: block;
        margin: 0 auto;
        border-style: solid;
        border-width: 48px;
        -moz-border-image: url('/media/site-img/border.png') 64 round;
        -webkit-border-image: url('/media/site-img/border.png') 64 round;
        -o-border-image: url('/media/site-img/border.png') 64 round;
        border-image:url('/media/site-img/border.png') 64 fill round;
    }
    #page {
        height: 100%;
    }
    #nav {
        display: block;
        margin: 0 auto; 
        text-align: center;
        width: 600px;
        white-space: nowrap;
    }
    #nav a {
        width: 100px;
    }
    #nav img {
        display: block;
        width: auto;
    }
    #comicnav {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 512px;
        white-space: nowrap;
    }
    #title {
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 16px;
    }
    #homebtn {
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100px;
        background-image: url("http://placehold.it/100x50");
    }
    #footer {
        height:30px;
        width: 100%;
        margin:auto;
        background-color: #eee;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        position: fixed;
        bottom: 0pt;
        left: 0pt;
        text-align: center;
    }
    #btntxt {
        color: #585;
        position: relative;
        text-align: center;
        top: 2px;
        left: -100px;
        font-size: 18px;
    }
    .btn {
        font-size: 18px;
        color: #585;
        border-color: #6c6;
        border-width: 3px;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
    }
    .btn:hover {
        border-color: #585;
        background-color: #fff;
        color: #585;
    }
    a {
        color: #669966;
    }
    a:hover {
        color: #99cc99;
    }
    .blog-container {
        min-height: 512px;
        min-width: 512px;
        height: auto;
        margin: 32px;
    }
    .blog-container div div {
        margin: 8px;
        background-color: #fff;
        max-width: 768px;
    }
    .blog-container div div p {
        font-size: 16px;
        min-height: 512px;
        height: auto;
    }
    #blog-content {
        margin: 16px;
    }
    #previous-posts-content {
        font-size: 10px;
    }
    #blog-title {
        color: #fff;
        background-color: #6c6;
    }
    #previous-posts {
        color: #6c6;
    }
    #time-stamp {
        color: #aaa;
        text-align: right;
    }
    .archive-container {
        border-style: solid;
        border-color: #6c6;
        border-width: 3px;
        -webkit-border-radius: 20px !important;
        -moz-border-radius: 20px !important;
        border-radius: 20px !important;
        text-align: center;
        min-height: 512px;
        width: 512px;
        height: auto;
        margin: 32px auto;
        background-color: #fff;
    }
    .archive-container th {
        text-align: center;
    }