<!-- TITLE BAR -->
<img id="title" src="/media/site-img/raptorboost.png">
   
   <!-- NAV BAR -->
       
<div id="nav">
    {% for posts in site.categories.comic limit:1 %}
    <a class="btn btn-default" href="{{ posts.url }}" role="button">Comic</a>
    {% endfor %}
    
    {% for posts in site.categories.blog limit:1 %}
    <a class="btn btn-default" href="{{ posts.url }}" role="button">Blog</a>
    {% endfor %}
    
    <a class="btn btn-default" href="/comingsoon.html" role="button">Stuff</a>
    <a class="btn btn-default" href="/about.html" role="button">About</a>
</div>